body {
  background: #FCF6E6;
  box-sizing: border-box;
  color: #252737;
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
  font-size: 16px;
  margin: 0;
  width: 100%;
}

abbr {
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}


a {
  &:link,
  &:visited {
    color: #3A8CD4;
  }

  &:hover {
    color: #F33549;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}