@import "variables";

.cta {
  $b: &;
  text-align: center;

  &--small {
    #{$b}__link {
      font-size: 1em;
      padding: 0.5em;
    }
  }

  &__link {
    background: $blue;
    border-radius: 5px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em 0.5em;
    text-decoration: none;

    &:link,
    &:visited {
      color: $newspaper;
    }

    &:hover {
      background: darken($blue, 15%);

    }

    &:active {
      background: $yellow;
      color: $newsprint;

    }
  }

  &--header {
    margin: 2em 0;
  }
}
