@import "variables.scss";

.detail {
  $b: &;

  @media (min-width: 1080px) {
    &--flipped-desktop {
      #{$b}__col:first-child {
        order: 3;
      } 
    }
  }

  &__col {
    box-sizing: border-box;
    padding: 1em;

    @include tablet-and-up() {
      width: 50%;

      &:first-child {
        width: 100%;
      }
    }

    @media (min-width: 1080px) {
      width: 33%;

      &:first-child {
        width: 33%;
      }
    }

    &:first-child {
      text-align: center;
    }

    &--centered {
      align-self: center;
      flex-shrink: 0;
    }
  }

  @include tablet-and-up() {
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto;
    width: 90%;
  }

  &__image {
    max-height: 50vh;
    max-width: 80vw;

    @media (min-width: 1080px) {
      max-width: 100%;
    }
  }

  &__header {
    font-family: sans-serif;
    font-size: 2em;
  }

  &__subheader {
    color: $newsprint;
    border-bottom: solid 1px $newsprint;
    font-family: sans-serif;
  }

  &__body {
    font-family: Georgia, serif;
    line-height: 1.4;
    text-align: left;
  }

  &__body:first-of-type {
    margin-top: 0;
  }

  &__list {
    padding-left: 0;
  }

  &__list-item {
    list-style: none;
    margin-bottom: 1em;

    &::before {
      content: "☞";
      display: inline-block;
      padding: 0 1em;
    }
  }
}
