.detail {
  margin: 50px auto;

  @include tablet-and-up() {
    width: 700px;
  }

  &__header {
    color: deeppink;
    font-family: sans-serif;
    font-size: 2em;
  }

  &__subheader {
    color: deeppink;
    border-bottom: solid 1px deeppink;
    font-family: sans-serif;
  }

  &__body {
    font-family: Georgia, serif;
    line-height: 1.4;
  }

  &__body:first-of-type {
    margin-top: 0;
  }

  &__list-item {
    margin-bottom: 2em;
  }
}
