@import "variables.scss";

.detail {
  display: flex;
  margin: 3em auto;
  width: 90%;

  &__col {
    box-sizing: border-box;
    width: 33%;
    padding: 1em;

    &--centered {
      align-self: center;
      flex-shrink: 0;
    }
  }

  @include tablet-and-up() {
  }

  &__image {
    width: 100%;
  }

  &__header {
    font-family: sans-serif;
    font-size: 2em;
  }

  &__subheader {
    color: $newsprint;
    border-bottom: solid 1px $newsprint;
    font-family: sans-serif;
  }

  &__body {
    font-family: Georgia, serif;
    line-height: 1.4;
    text-align: left;
  }

  &__body:first-of-type {
    margin-top: 0;
  }

  &__list {
    padding-left: 0;
  }

  &__list-item {
    list-style: none;
    margin-bottom: 1em;

    &::before {
      content: "☞";
      display: inline-block;
      padding: 0 1em;
    }
  }
}
