@charset "UTF-8";
body {
  box-sizing: border-box;
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
  font-size: 16px;
  margin: 0;
  width: 100%; }
  @media (min-width: 769px) {
    body {
      font-size: 18px; } }

abbr {
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp"; }

a {
  text-decoration: none;
  border-bottom: solid currentColor 1px; }
  a:link, a:visited {
    color: deeppink; }
  a:hover {
    color: #940050; }

.header {
  background: deeppink;
  color: white;
  padding: 7em 1em 1em;
  text-align: center; }
  @media (min-width: 769px) {
    .header {
      padding-top: 9em;
      text-align: right; } }
  .header__logo {
    fill: currentColor;
    fill-rule: evenodd;
    width: 75%; }
    @media (min-width: 769px) {
      .header__logo {
        width: 500px; } }
  .header__logo-text {
    font-family: sans-serif;
    font-size: 6em;
    margin: 0; }
  .header__subheading {
    font-family: Georgia, serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0; }
    @media (min-width: 769px) {
      .header__subheading {
        font-size: 2em; } }

.footer {
  color: #999999;
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
  font-size: 0.667em;
  padding: 2em;
  text-align: center; }

.detail {
  margin: 50px 1em; }
  @media (min-width: 769px) {
    .detail {
      margin: 50px auto;
      width: 700px; } }
  .detail__header {
    color: deeppink;
    font-family: sans-serif;
    font-size: 2em; }
  .detail__subheader {
    color: deeppink;
    border-bottom: solid 1px deeppink;
    font-family: sans-serif; }
  .detail__body {
    font-family: Georgia, serif;
    line-height: 1.4; }
  .detail__body:first-of-type {
    margin-top: 0; }
  .detail__list {
    padding-left: 0; }
  .detail__list-item {
    list-style: none;
    margin-bottom: 1em; }
    .detail__list-item::before {
      content: "☞";
      display: inline-block;
      padding: 0 1em; }

.submit-button {
  text-align: center; }
  .submit-button__link {
    background: white;
    border: solid 0.1em deeppink;
    border-radius: 5px;
    color: deeppink;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 1em 0.5em; }
    .submit-button__link:hover {
      background: deeppink;
      color: white;
      border-color: white; }
    .submit-button__link:active {
      background: #940050;
      color: white;
      border-color: white; }
