@charset "UTF-8";
.detail {
  height: 100vh;
  margin: 5em 1em; }
  @media (min-width: 769px) {
    .detail {
      margin: 7em auto;
      width: 700px; } }
  .detail__header {
    font-family: sans-serif;
    font-size: 2em; }
  .detail__subheader {
    color: #252737;
    border-bottom: solid 1px #252737;
    font-family: sans-serif; }
  .detail__body {
    font-family: Georgia, serif;
    line-height: 1.4; }
  .detail__body:first-of-type {
    margin-top: 0; }
  .detail__list {
    padding-left: 0; }
  .detail__list-item {
    list-style: none;
    margin-bottom: 1em; }
    .detail__list-item::before {
      content: "☞";
      display: inline-block;
      padding: 0 1em; }
