@import "variables";

body {
  background: $newspaper;
  box-sizing: border-box;
  color: $newsprint;
  font-family: Georgia, serif;
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
  font-size: 16px;
  margin: 0;
  width: 100%;

  @include tablet-and-up() {
    font-size: 18px;
  }
}

abbr {
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}


a {
  &:link,
  &:visited {
    color: $blue;
  }

  &:hover {
    color: $red;
  }
}

@import "header";
@import "footer";
@import "detail";
@import "cta";
