.header {
  padding: 3em 1em 1em;
  text-align: center;
}

.header .logo {
  align-self: center;
  width: 75%;
}

.header .subheading {
  font-family: Georgia, serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    padding-top: 9em;
    text-align: right;
  }

  .header .logo {
    width: 700px;
  }

  .header .subheading {
    font-size: 2em;
  }
}